.side-button {
    border: none;
    background-color: inherit;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    width: 5%;
}

#topic, .side-button {
    color: #818181;
    text-decoration: none;
}

#topic {
    font-size: 25px;
}

#main {
    display: block;
}

.row {
    margin: 0px;
}

footer {
    text-align: center;
}

#myImage {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#apps {
    padding: 0.5rem;
}

.app-description {
    text-decoration: none;
    white-space: pre-line;
}

.intro {
    text-align: center;
}

.identity {
    font-family: monospace;
}

.indent {
    text-indent: 15px;
}

.detail-container {
    border-radius: 20px;
    padding: 15px;
}

.topic {
    display: inline-flex;
    justify-content: space-around;
}

@media (max-width: 240px) {
    .dark-mode {
        display: none;
    }
}

@media (max-width: 575px) {
    #topbar {
        background-color: black;
        transition: margin-top 0.5s;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 8vh;
    }
    #main {
        transition: margin-top 0.5s;
        margin-top: 8vh;
        width: 100%;
        min-height: -webkit-fill-available;
        background-color: transparent;
        padding: 0 15px;
    }
    .sidebar {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        background-color: #111;
        overflow: hidden;
        transition: height 0.5s;
    }
    .sidebar a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: height 0.5s;
    }

    #topic {
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 0.2rem;
    }
    .dark-mode {
        text-align: center;
    }
    .topic {
        width: 85%;
        margin-left: 0.5rem;
    }
    .homepage {
        width: 10%;
    }
    #home-icon {
        width: 40px;
        height: 40px;
    }
}


@media (min-width: 576px) {
    #topbar {
        background-color: black;
        transition: margin-left 0.5s;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 8%;
    }
    #main {
        transition: margin-left 0.5s;
        margin-top: 10%;
        width: 100%;
        min-height: -webkit-fill-available;
        background-color: transparent;
        padding: 0 25px;
    }
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: width 0.5s;
        padding-top: 8%;
    }
    .sidebar a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: width 0.5s;
    }

    #topic {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .topic {
        width: 95%;
    }   
    .dark-mode {
        width: 30%;
        text-align: end;
    }
    .homepage {
        width: 5%;
        text-align: end;
    }
    #home-icon {
        width: 50px;
        height: 50px;
    }

    #dark-icon {
        width: 50px;
        height: 50px;
    }
}