#topbar {
    background-color: black;
    transition: margin-left 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

/* @media (min-width: 400px) {
    .side-button {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .topic {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
} */

/* .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
} */

.side-button {
    border: none;
    background-color: inherit;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    width: 10%;
}

#topic a, .side-button {
    color: #818181;
    text-decoration: none;
}

#topic a {
    font-size: 25px;
}

/*input[type="text"] {*/
/*    background-color: #323232;*/
/*}*/

/* .sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: width 0.5s;
} */

#main {
    transition: margin-left 0.5s;
    margin-top: 50px;
    /* position: absolute; */
    width: 100%;
    min-height: -webkit-fill-available;
    background-color: transparent;
    /* height: 100%; */
    /* height: -webkit-fill-available; */
}


.row {
    margin: 0px;
}


#topic {
    text-align: end;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

@media (max-width: 575px) {
    #topic {
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
    }
    .dark-mode {
        width: 20%;
        text-align: center;
    }
    .topic {
        width: 60%;
        margin-left: 1.5rem;
    }
    #main {
        margin-top: 75px;
    }
    /* #topic a {
        font-size: 35px;
    } */
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: width 0.5s;
        padding-top: 60px;
    }
    .sidebar a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: height 0.5s;
    }
    #dark-icon {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 576px) {
    #topic {
        text-align: end;
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
    }
    .topic {
        width: 60%;
        text-align: end;
    }   
    .dark-mode {
        width: 30%;
        text-align: end;
    }
    /* #topic a {
        font-size: 25px;
    } */
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: width 0.5s;
        padding-top: 60px;
    }
    .sidebar a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: width 0.5s;
    }
}